script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
script(src='bower_components/angular/angular.min.js')
script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='scripts/carousel.js')
script(src='app.js')
